body{
  background-color: #FFFBF1;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bmi-card {
  width: 400px;
  height: 445px;
  text-align: center;
  background: #fff;
  border-radius: '8px';
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
  box-shadow: 0px 0px 12px #ccc;
  margin: 20px;
}

.bmi-card-input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 8px;
}

.bmi-card label {
  color: #ed215e;

}
.bmi-card h5, h1{
  color: #ed215e;

}
.bmi-card p {
  color: #ed215e;

}
.bmi-card-btn {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin: 8px 0;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

.bmi-card-btn-outline {
  background-color: #fff;
}




